<a ng-click="scrollTo('#general')">General</a>
<a ng-click="scrollTo('#shields')">Shields</a>
<a ng-click="scrollTo('#eonomy')">Economy</a>
<a ng-click="scrollTo('#abilities')">Abilities</a>
<a ng-click="scrollTo('#intel')">Intel</a>
<a ng-click="scrollTo('#weapons')">Weapons</a>

<h1 id="general">General</h1>
<table ng-table="tableParams" class="compareTable stickyheaders">
 <tr class="{{ item.faction|lowercase }}" ng-repeat="item in $data">
  <td title="''" sortable="'tmpSelectionOrder'"><div class="thumb icon-{{ item.id }}" title="{{ item.fullName }}"><span class="strategic icon-{{ item.faction  }}_{{ item.strategicIcon}}" ></span></div></td>
  <td title="'Unit'" sortable="'fullName'"><h4>{{ item.fullName }}</h4><a href="https://github.com/FAForever/fa/blob/develop/units/{{ item.id }}/{{ item.id }}_unit.bp" target="_blank"><small>{{ item.id }}</small></a></td>
  <!-- after header column -->
  <td title="'Mass Cost'" sortable="'Economy.BuildCostMass'"><div class="ic icon-mass"></div>{{ item.Economy.BuildCostMass | shorten }}</td>
  <td title="'Energy Cost'" sortable="'Economy.BuildCostEnergy'"><div class="ic icon-energy"></div>{{ item.Economy.BuildCostEnergy | shorten }}</td>
  <td title="'Build Time'" sortable="'Economy.BuildTime'"><div class="ic icon-time"></div>{{ item.Economy.BuildTime | shorten }}</td>
  <td title="'Health'" sortable="'Defense.Health'"><div class="ic icon-health"></div>{{ item.Defense.Health | shorten }}</td>
  <td title="'Regen'" sortable="'Defense.RegenRate || -2000000000'"><div ng-if="item.Defense.RegenRate"><div class="ic icon-health"></div>{{ item.Defense.RegenRate }} hp/s</div></td>
  <!-- shield header columns -->
  <td title="'Shield Health'" sortable="'Defense.Shield.ShieldMaxHealth || -2000000000'">{{ item.Defense.Shield.ShieldMaxHealth | shorten }}</td>
  <td title="'Shield Regen'" sortable="'Defense.Shield.ShieldRegenRate || -2000000000'">{{ item.Defense.Shield.ShieldRegenRate | shorten }}</td>
  <td title="'Shield Size'" sortable="'Defense.Shield.ShieldSize || -2000000000'">{{ item.Defense.Shield.ShieldSize | shorten }}</td>
  <td title="'Shield Recharge Time'" sortable="'Defense.Shield.ShieldRechargeTime + Defense.Shield.ShieldRegenStartTime || -2000000000'"><span ng-if="item.Defense.Shield">{{ item.Defense.Shield.ShieldRechargeTime + item.Defense.Shield.ShieldRegenStartTime }} s</span></td>
 </tr>
</table>

<h1 id="eonomy">Economy</h1>
<table ng-table-dynamic="tableParams with economyColumns" class="compareTable stickyheaders">
 <tr ng-if="item.showAdvancedEconomy" class="{{ item.faction|lowercase }}" ng-repeat="item in $data">
  <td ng-repeat="col in $columns">
    <div ng-if="col.firstColumn" class="thumb icon-{{ item.id }}">
      <span class="strategic icon-{{ item.faction  }}_{{ item.strategicIcon}}" ></span>
    </div>
    <div ng-if="col.secondColumn">
      <h4>{{ item.fullName }}</h4><a href="https://github.com/FAForever/fa/blob/develop/units/{{ item.id }}/{{ item.id }}_unit.bp" target="_blank"><small>{{ item.id }}</small></a>
    </div>
    {{item.Economy[col.field]}}
  </td>
 </tr>
</table>

<h1 id="abilities">Abilities</h1>
<table ng-table-dynamic="tableParams with abilityColumns" class="compareTable stickyheaders noWrapHeaders">
 <tr ng-if="item.Display.Abilities" class="{{ item.faction|lowercase }}" ng-repeat="item in $data">
  <td ng-repeat="col in $columns">
    <div ng-if="col.firstColumn" class="thumb icon-{{ item.id }}">
      <span class="strategic icon-{{ item.faction  }}_{{ item.strategicIcon}}" ></span>
    </div>
    <div class="noWrap" ng-if="col.secondColumn">
      <h4>{{ item.fullName }}</h4><a href="https://github.com/FAForever/fa/blob/develop/units/{{ item.id }}/{{ item.id }}_unit.bp" target="_blank"><small>{{ item.id }}</small></a>
    </div>
    <div ng-if="col.normalColumn && item.Display.Abilities.indexOf(col.field) != -1" class="thumb icon-{{ item.id }}" title="{{ item.fullName }}">
      <span class="strategic icon-{{ item.faction  }}_{{ item.strategicIcon}}" ></span>
    </div>
  </td>
 </tr>
</table>

<h1 id="intel">Intel</h1>
<table ng-table="tableParams" class="compareTable stickyheaders">
 <tr ng-if="item.Intel" class="{{ item.faction|lowercase }}" ng-repeat="item in $data">
  <td title="''" sortable="'tmpSelectionOrder'"><div class="thumb icon-{{ item.id }}" title="{{ item.fullName }}"><span class="strategic icon-{{ item.faction  }}_{{ item.strategicIcon}}" ></span></div></td>
  <td title="'Unit'" sortable="'fullName'"><h4>{{ item.fullName }}</h4><a href="https://github.com/FAForever/fa/blob/develop/units/{{ item.id }}/{{ item.id }}_unit.bp" target="_blank"><small>{{ item.id }}</small></a></td>
  <!-- after header column -->
  <td title="'Vision Radius'" sortable="'Intel.VisionRadius || -2000000000'">{{ item.Intel.VisionRadius }}</td>
  <td title="'Radar Radius'" sortable="'Intel.RadarRadius || -2000000000'">{{ item.Intel.RadarRadius }}</td>
  <td title="'Sonar Radius'" sortable="'Intel.SonarRadius || -2000000000'">{{ item.Intel.SonarRadius }}</td>
 </tr>
</table>

<h1 id="weapons">Weapons</h1>
<div ng-repeat="(weaponsCategory,weaponsList) in weaponsWithUnitByCategory">
<div ng-if="weaponsList">
<h2>{{ weaponsCategory }}</h2>
<table ng-table-dynamic="weaponTablesParams[weaponsCategory] with weaponFeatureColumnsByCategory[weaponsCategory]" class="compareTable stickyheaders ">
 <tr class="{{ o.unit.faction|lowercase }}" ng-repeat="o in $data">
  <td ng-repeat="weaponFeatureColumn in weaponFeatureColumnsByCategory[weaponsCategory]" class="wfc{{ weaponFeatureColumn.field }}">
    <div ng-if="weaponFeatureColumn.firstColumn" class="thumb icon-{{ o.unit.id }}">
      <span class="strategic icon-{{ o.unit.faction  }}_{{ o.unit.strategicIcon}}" ></span>
    </div>
    <div class="noWrap" ng-if="weaponFeatureColumn.secondColumn">
      <h4>{{ o.unit.fullName }}</h4><a href="https://github.com/FAForever/fa/blob/develop/units/{{ o.unit.id }}/{{ o.unit.id }}_unit.bp" target="_blank"><small>{{ o.unit.id }}</small></a>
    </div>
    <div>
      <div class="noWrap" ng-if="weaponFeatureColumn.field === 'DisplayName'">
        <h4>{{ o.weapon.DisplayName }}</h4>
      </div>
      <div ng-if="weaponFeatureColumn.field === 'dps'">
        {{ o.weapon[weaponFeatureColumn.field] | round:2 }}
      </div>
      <div ng-if="weaponFeatureColumn.field === 'FiringCycle'">
        {{ o.unit.fireCycle(o.weapon) }}
      </div>
      <div ng-if=" ['dps','DisplayName','FiringCycle'].indexOf(weaponFeatureColumn.field) === -1 ">
        {{ o.weapon[weaponFeatureColumn.field] }}
      </div>
    </div>
  </td>
 </tr>
</table>
</div>
</div>


<script>
window.setTimeout(function(){$(".stickyheaders").stickyTableHeaders();});
</script>

<aside class="filters">
</aside>
